<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>static web page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
    <h1>Welcome to My Static Web Page</h1>
   
    <p>Enjoy browsing!</p>
    <p> HELLO EVERYONE</p>

    <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Stylized company logo showing a blue cloud icon with an upward arrow, company name rendered below in bold sans serif; modern and optimistic tone, on a plain white background" width="120" height="100">

    </header>

    <section>
        <h2>About This Page</h2>
        <p>This is a simple static web page served using Flask.</p>
        <p>This is ABHIJEET BIRAJDAR WORLD </p>
        </section>
</body>
</html>